/* "Tom MacDonald" */
#title {
    font-family: 'Indie+Flower';
    color: white;
    background-color: maroon;
    height: 60px;
    padding-top: 20px;
}

#title1 {
    font-size: 1.5rem;
    font-family: 'Indie+Flower';
    text-align: center;
    letter-spacing: 3px;
    background-color: maroon;
    color: white;
}
#merchOne {
    width: 20%;
    padding: 40px;
}
#merchTwo {
    width: 20%;
    padding: 40px;
}
body {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    font-size: 1.5rem;
    color: black;
    font-family: 'Caveat', cursive;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

#tom {
    width: 70%;
    height: auto;
